body {
    background: #5f9fff;
    padding: 40px;
    font-family: courier;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.card {
    flex: none;
    background: white;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
 
}

.card-image {
    height: 150px;
    max-height: 150px;
    width: 150px;
    min-width: 150px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.card-image img{
    height: 150px;
    max-height: 150px;
    width: 150px;
    min-width: 150px;
}

.card-title, .card-answer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-button {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #0070bb;
    background: white;
    color: #0070bb;
}

.card-button:hover {
    color: white;
    background: #0070bb;
}

.card-answer {
    opacity: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#card-form label, #card-form input{
    padding: 5px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
}

.container .card:nth-of-type(1) {
    display: none;
}